.contact-section-side img {
  width: 30px;
  height: 30px;
}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 80px 170px;
  gap: 90px;
}
.contact-title h1 {
  font-size: 50px;
  font-weight: 700;
  padding: 0 30px;
}
.contact-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 400px;
}
.contact-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-section h1 {
  font-size: 68px;
  font-family: 600;
  background: linear-gradient(
    38deg,
    rgba(255, 12, 12, 1) 0%,
    rgba(255, 0, 249, 1) 53%,
    rgba(9, 255, 0, 1) 92%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contact-section p {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  min-width: 250px;
}
.contact-section-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 70px 0;
}
.div-item-icons {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 24px;
}
.form-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}
.form-section label {
  font-size: 22px;
}
.form-section input {
  outline: none;
  border: none;
  padding: 30px 40px;
  border-radius: 10px;
  width: 700px;
  font-size: 22px;
  background-color: rgb(128, 196, 255);
  color: rgb(96, 94, 94);
}
.form-section textarea {
  width: 95%;
  padding: 30px;
  background-color: rgb(128, 196, 255);
  color: rgb(96, 94, 94);
  border-radius: 10px;
  outline: none;
  border: none;
}
.submit {
  background: linear-gradient(
    38deg,
    rgba(255, 12, 12, 1) 0%,
    rgba(255, 0, 249, 1) 53%,
    rgba(64, 0, 255, 1) 89%
  );
  padding: 10px 60px;
  font-size: 26px;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  transition: 0.3s;
}
.submit:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .contact-title-container {
    flex-direction: column;
    gap: 0px;
  }
  .form-section input {
    width: 500px;
  }
  .form-section textarea {
    width: 100%;
  }
}
